#navbar-container {
  height: 100vh;
  /* width: 7vw; */
  width: 200px;
  background-color: paleturquoise;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

/* #navbar-container:hover {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
} */

.navbar-icons {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

/* #navbar-container div span {
  display: none;
} */

/* #navbar-container:hover div span {
  display: block;
} */

.activeClassName {
  text-decoration: none !important;
  color: darkblue;
}

.linkDesign {
  text-decoration: none !important;
}
