.friend-info-container {
  width: 80%;
  height: 500px;
  background-color: white;
}

.coverImage {
  height: 80%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.singleMovieModal:hover {
  cursor: pointer;
  background-color: bisque;
}

.usualContainer {
  height: 100vh;
  overflow-y: scroll;
}
