.loginContainer {
  height: 100vh;
  background-color: var(--main-bg-color);
}

.formContainer {
  padding: 40px 40px;

  width: 500px;
  margin-top: 200px;
  border-radius: 5px;
}

#logInButton {
  /* margin-inline: auto; */
}
